<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin | Template</title>
  <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
  <meta content="Nascenia" name="Mithun" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- App favicon -->
  <link rel="shortcut icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <link href="https://unpkg.com/ionicons@4.2.4/dist/css/ionicons.min.css" rel="stylesheet">

  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
  <!-- Begin page -->
  <div id="wrapper">
    <%= render partial: 'layouts/header' %>
    <%= render partial: 'layouts/sidebar' %>
    <%= yield %>
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>